<h1>{{model.firstName}} {{model.lastName}}</h1>

{{partial "contacts/form"}}

<button class="button" {{action "save" model}}>Save</button>
{{link-to "cancel" "contacts.show" model class="button button--cancel"}}
