<h1 class="contact-header">
  {{model.firstName}} {{model.lastName}}
</h1>

{{link-to "Edit" "contacts.edit" model}}

<div class="field">
  <span class="field-label">First Name</span>
  {{model.firstName}}
</div>

<div class="field">
  <span class="field-label">Last Name</span>
  {{model.lastName}}
</div>

<div class="field">
  <span class="field-label">Email</span>
  {{model.email}}
</div>

<div class="field">
  <span class="field-label">Phone</span>
  {{model.phone}}
</div>
